.logo{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 100%;
    font-size: 30px;
    color: #3751FE;
}
.y{
    font-family: Sarina, cursive;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    
}